/**
 * Tag component
 */

@import '../../styles/common/variables';
@import '../../styles/mixins/mixins';

@include bem(tag) {
  box-sizing: border-box;
  display: inline-block;
  padding: $rx-tag-padding;
  font-size: $rx-tag-font-size;
  line-height: 1.5;
  color: $rx-color-gray-8;
  text-align: center;
  white-space: nowrap;
  background-color: $rx-color-gray-2;
  border-color: $rx-color-gray;
  border-style: solid;
  border-width: 1px;
  border-radius: $rx-tag-border-radius;

  svg {
    margin-left: 4px;
    cursor: pointer;
  }

  &:not(.rx-tag--default) {
    color: $rx-white;
    border-color: transparent;
  }

  &--default {
    background-color: $rx-color-gray-2;
  }

  &--primary {
    background-color: $rx-primary;
  }

  &--secondary {
    background-color: $rx-secondary;
  }

  &--success {
    background-color: $rx-success;
  }

  &--info {
    background-color: $rx-info;
  }

  &--warning {
    background-color: $rx-warning;
  }

  &--danger {
    background-color: $rx-danger;
  }
}
