/**
 * Radio component
 **/
@import '../../styles/common/variables';
@import '../../styles/mixins/mixins';

@include bem(radio) {
  position: relative;
  display: inline-block;
  font-size: $rx-radio-font-size;
  font-weight: $rx-radio-font-weight;
  color: $rx-radio-font-color;
  cursor: pointer;
  outline: none;

  & + & {
    margin-left: 15px;
  }

  &:last-child {
    margin-right: 0;
  }

  // @include elm(input) {
  &__input {
    position: relative;
    display: inline-block;
    vertical-align: text-top;
    cursor: pointer;
    outline: none;

    @include when(disabled) {
      .rx-radio__inner {
        cursor: not-allowed;
      }

      & + .rx-radio__label {
        color: $rx-radio-disabled-checked-icon-color;
        cursor: not-allowed;
      }
    }
  }

  // @include elm(inner) {
  &__inner {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    width: $rx-radio-input-width;
    height: $rx-radio-input-height;
    cursor: pointer;
    background-color: $rx-radio-input-background-color;
    border: $rx-radio-input-border;
    border-radius: $rx-radio-input-border-radius;

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 6px;
      height: 6px;
      content: '';
      border-radius: $rx-radio-input-border-radius;
      transform: translate(-50%, -50%) scale(0);
    }
  }

  &__radiobox {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: 0;
    outline: none;
    opacity: 0;

    // when checked
    &:checked {
      & + .rx-radio__inner {
        border-color: $rx-radio-checked-input-border-color;

        &::after {
          background-color: $rx-radio-checked-icon-color;
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }

    // when disabled
    &:disabled {
      & + .rx-radio__inner {
        cursor: not-allowed;
        background-color: $rx-radio-disabled-input-fill;
        border-color: $rx-radio-disabled-input-border-color;

        &::after {
          background-color: $rx-radio-disabled-checked-icon-color;
        }
      }
    }
  }

  // @include elm(label) {
  &__label {
    padding-left: 8px;
    font-size: $rx-radio-font-size;
  }
}
