/**
 * InputText component
 **/
@import '../../styles/common/variables';
@import '../../styles/mixins/mixins';

@include bem(input) {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: $dns-input-font-size;

  &__elm {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    height: $dns-input-height;
    padding: $dns-input-padding;
    font-size: inherit;
    line-height: $dns-input-height;
    color: $dns-input-font-color;
    background-color: $dns-input-background-color;
    background-image: none;
    border: $dns-input-border;
    border-radius: $dns-input-border-radius;
    outline: none;

    &::placeholder {
      color: $dns-input-placeholder-color;
    }

    &:hover {
      border-color: $dns-input-hover-border;
    }

    &:focus,
    &:active {
      border-color: $dns-input-focus-border;
      outline: none;
    }

    // disable default clear on IE
    &::-ms-clear {
      display: none;
      width: 0;
      height: 0;
    }
  }

  textarea {
    height: auto;
  }

  @include mod(lg) {
    .dns-input__elm {
      height: $dns-input-large-height;
      padding: $dns-input-large-padding;
      font-size: $dns-input-large-font-size;
    }
  }

  @include mod(md) {
    .dns-input__elm {
      height: $dns-input-medium-height;
      padding: $dns-input-medium-padding;
      font-size: $dns-input-medium-font-size;
    }
  }

  @include mod(sm) {
    .dns-input__elm {
      height: $dns-input-small-height;
      padding: $dns-input-small-padding;
      font-size: $dns-input-small-font-size;
    }
  }

  @include mod(xs) {
    .dns-input__elm {
      height: $dns-input-extra-small-height;
      padding: $dns-input-extra-small-padding;
      font-size: $dns-input-extra-small-font-size;
    }
  }

  @include when(active) {
    .dns-input__elm {
      border-color: $dns-input-focus-border;
      outline: none;
    }
  }

  @include when(disabled) {
    .dns-input__elm {
      color: $dns-input-disabled-color;
      cursor: not-allowed;
      background-color: $dns-input-disabled-fill;
      border-color: $dns-input-disabled-border;

      &::placeholder {
        color: $dns-input-disabled-placeholder-color;
      }
    }
  }
}
