/**
 * Button component
 **/
@import '../../styles/common/variables';
@import '../../styles/mixins/mixins';

@mixin button-size(
  $padding-vertical,
  $padding-horizontal,
  $font-size,
  $border-radius
) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  border-radius: $border-radius;
  &.is-round {
    padding: $padding-vertical $padding-horizontal;
  }
}

@mixin button-plain($color) {
  color: $color;
  background: mix($dns-white, $color, 90%);
  border-color: mix($dns-white, $color, 60%);

  &:hover,
  &:focus {
    color: $dns-white;
    border-color: $color;
    background: $color;
  }

  &:active {
    color: $dns-white;
    border-color: mix($dns-black, $color, $dns-button-active-shade-percent);
    background: mix($dns-black, $color, $dns-button-active-shade-percent);
    outline: none;
  }

  &.is-disabled {
    &,
    &:hover,
    &:focus,
    &:active {
      color: mix($dns-white, $color, 40%);
      border-color: mix($dns-white, $color, 80%);
      background: mix($dns-white, $color, 90%);
    }
  }
}

@mixin button-variant($color, $background-color, $border-color) {
  color: $color;
  background-color: $background-color;
  border-color: $border-color;

  &:hover,
  &:focus {
    background: mix(
      $dns-white,
      $background-color,
      $dns-button-hover-tint-percent
    );
    border-color: mix(
      $dns-white,
      $border-color,
      $dns-button-hover-tint-percent
    );
    color: $color;
  }

  &:active {
    background: mix(
      $dns-color-black,
      $background-color,
      $dns-button-active-shade-percent
    );
    border-color: mix(
      $dns-color-black,
      $border-color,
      $dns-button-active-shade-percent
    );
    color: $color;
    outline: none;
  }

  &.is-active {
    background: mix(
      $dns-color-black,
      $background-color,
      $dns-button-active-shade-percent
    );
    border-color: mix(
      $dns-color-black,
      $border-color,
      $dns-button-active-shade-percent
    );
    color: $color;
  }

  &.is-disabled {
    &,
    &:hover,
    &:focus,
    &:active {
      color: $dns-white;
      background-color: mix($background-color, $dns-white);
      border-color: mix($border-color, $dns-white);
    }
  }

  &.is-plain {
    @include button-plain($background-color);
  }
}

@include bem(button) {
  display: inline-block;
  box-sizing: border-box;

  margin: 0;
  padding: $dns-button-padding-horizontal $dns-button-padding-vertical;

  color: $dns-button-default-font-color;
  line-height: 1;
  text-align: center;
  cursor: pointer;

  background: $dns-button-default-background-color;
  border: $dns-border-base;

  outline: none;
  -webkit-appearance: none;

  transition: 0.1s;

  @include button-size(
    $dns-button-padding-vertical,
    $dns-button-padding-horizontal,
    $dns-button-font-size,
    $dns-button-border-radius
  );

  & + & {
    margin-left: 10px;
  }

  &:hover,
  &:focus {
    color: $dns-primary;
    border-color: $dns-primary;
    background-color: $dns-primary-light-90;
  }

  &:active {
    color: mix($dns-black, $dns-primary, $dns-button-active-shade-percent);
    border-color: mix(
      $dns-black,
      $dns-primary,
      $dns-button-active-shade-percent
    );
    outline: none;
  }

  @include when(plain) {
    &:hover,
    &:focus {
      color: $dns-primary;
      border-color: $dns-primary;
      background: $dns-white;
    }

    &:active {
      color: mix($dns-black, $dns-primary, $dns-button-active-shade-percent);
      border-color: mix(
        $dns-black,
        $dns-primary,
        $dns-button-active-shade-percent
      );
      background: $dns-white;
      outline: none;
    }
  }

  @include when(active) {
    color: mix($dns-black, $dns-primary, $dns-button-active-shade-percent);
    border-color: mix(
      $dns-black,
      $dns-primary,
      $dns-button-active-shade-percent
    );
  }

  @include when(disabled) {
    &,
    &:hover,
    &:focus {
      color: $dns-button-disabled-font-color;
      background-image: none;
      background-color: $dns-button-disabled-background-color;
      border-color: $dns-button-disabled-border-color;
      cursor: not-allowed;
    }

    &.is-plain {
      &,
      &:hover,
      &:focus {
        color: $dns-button-disabled-font-color;
        background-color: $dns-button-disabled-background-color;
        border-color: $dns-button-disabled-border-color;
      }
    }
  }

  @include when(circle) {
    padding: $dns-button-padding-vertical;
    border-radius: 50%;
  }

  @include when(round) {
    padding: 12px 23px;
    border-radius: 20px;
  }
  // TODO
  // when loading

  @include mod(primary) {
    @include button-variant(
      $dns-button-primary-font-color,
      $dns-button-primary-background-color,
      $dns-button-primary-border-color
    );
  }

  @include mod(success) {
    @include button-variant(
      $dns-button-success-font-color,
      $dns-button-success-background-color,
      $dns-button-success-border-color
    );
  }

  @include mod(warning) {
    @include button-variant(
      $dns-button-warning-font-color,
      $dns-button-warning-background-color,
      $dns-button-warning-border-color
    );
  }

  @include mod(danger) {
    @include button-variant(
      $dns-button-danger-font-color,
      $dns-button-danger-background-color,
      $dns-button-danger-border-color
    );
  }

  @include mod(info) {
    @include button-variant(
      $dns-button-info-font-color,
      $dns-button-info-background-color,
      $dns-button-info-border-color
    );
  }

  @include mod(link) {
    color: $dns-primary;
    border: none;
    text-decoration: none;

    &:hover,
    &:focus {
      color: mix($dns-white, $dns-primary, $dns-button-hover-tint-percent);
      background-color: transparent;
    }

    &:active {
      color: mix($dns-white, $dns-primary, $dns-button-active-shade-percent);
      text-decoration: underline;
    }

    &.is-disabled {
      color: $dns-button-disabled-font-color;
      cursor: not-allowed;
    }
  }

  @include mod(xs) {
    @include button-size(
      $dns-button-extra-small-padding-vertical,
      $dns-button-extra-small-padding-horizontal,
      $dns-button-extra-small-font-size,
      $dns-button-extra-small-border-radius
    );
  }

  @include mod(sm) {
    @include button-size(
      $dns-button-small-padding-vertical,
      $dns-button-small-padding-horizontal,
      $dns-button-small-font-size,
      $dns-button-small-border-radius
    );
  }

  @include mod(md) {
    @include button-size(
      $dns-button-medium-padding-vertical,
      $dns-button-medium-padding-horizontal,
      $dns-button-medium-font-size,
      $dns-button-medium-border-radius
    );
  }

  @include mod(lg) {
    @include button-size(
      $dns-button-large-padding-vertical,
      $dns-button-large-padding-horizontal,
      $dns-button-large-font-size,
      $dns-button-large-border-radius
    );
  }
}

@include bem(button-group) {
  display: inline-block;
  vertical-align: middle;

  & > .dns-button {
    position: relative;
    float: left;

    & + .dns-button {
      margin-left: 0;
    }

    &.is-disabled {
      z-index: 1;
    }

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:first-child:last-child {
      border-top-right-radius: $dns-button-border-radius;
      border-bottom-right-radius: $dns-button-border-radius;
      border-bottom-left-radius: $dns-button-border-radius;
      border-top-left-radius: $dns-button-border-radius;

      &.is-round {
        border-radius: 20px;
      }

      &.is-circle {
        border-radius: 50%;
      }
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }

    // hide border
    &:not(:last-child) {
      margin-right: -1px;
    }

    &:hover,
    &:focus,
    &:active {
      z-index: 1;
    }

    @include when(active) {
      z-index: 1;
    }
  }

  @each $name in $dns-colors {
    .dns-button--#{$name} {
      &:first-child {
        border-right-color: rgba($dns-white, 0.5);
      }

      &:last-child {
        border-left-color: rgba($dns-white, 0.5);
      }

      &:not(:first-child):not(:last-child) {
        border-left-color: rgba($dns-white, 0.5);
        border-right-color: rgba($dns-white, 0.5);
      }
    }
  }
}
