@import '../../styles/common/variables';

/**
 * Colors demos
 */

.colors-block {
  box-sizing: border-box;
  display: inline-block;
  min-width: 200px;
  padding: 20px;
  margin: 15px;
  font-size: 14px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;

  &__primary {
    &--default {
      background-color: $rx-color-blue;
    }

    &--light {
      background-color: $rx-color-blue-4;
    }

    &--dark {
      background-color: $rx-color-blue-8;
    }
  }

  &__secondary {
    &--default {
      background-color: $rx-color-green;
    }

    &--light {
      background-color: $rx-color-green-4;
    }

    &--blue {
      background-color: $rx-color-blue;
    }

    &--dark-blue {
      background-color: $rx-color-blue-8;
    }
  }

  &__functional {
    &--danger {
      background-color: $rx-danger;
    }

    &--warning {
      background-color: $rx-warning;
    }

    &--success {
      background-color: $rx-success;
    }

    &--info {
      background-color: $rx-info;
    }
  }

  &__brand {
    &--blue {
      background-color: $rx-secondary;
    }

    &--yellow {
      background-color: $rx-color-yellow;
    }

    &--green {
      background-color: $rx-color-green;
    }

    &--pink {
      background-color: $rx-color-pink;
    }
  }

  &__neutral {
    &--gray-1 {
      background-color: $rx-color-gray-1;
    }

    &--gray-2 {
      background-color: $rx-color-gray-2;
    }

    &--gray-3 {
      background-color: $rx-color-gray-3;
    }

    &--gray-4 {
      background-color: $rx-color-gray-4;
    }

    &--gray-5 {
      background-color: $rx-color-gray-5;
    }

    &--gray-6 {
      background-color: $rx-color-gray-6;
    }

    &--gray-7 {
      background-color: $rx-color-gray-7;
    }

    &--gray-8 {
      background-color: $rx-color-gray-8;
    }

    &--gray-9 {
      background-color: $rx-color-gray-9;
    }

    &--gray-10 {
      background-color: $rx-color-gray-10;
    }

    &--gray-11 {
      background-color: $rx-color-gray-11;
    }

    &--gray-12 {
      background-color: $rx-color-gray-12;
    }

    &--black {
      background-color: $rx-color-gray-13;
    }

    &--white {
      color: $rx-color-black;
      background-color: $rx-color-white;
      border: 1px solid $rx-color-gray;
    }
  }
}
