@import '../../styles/common/variables';

/**
 * Colors demos
 */

.colors-block {
  box-sizing: border-box;
  display: inline-block;
  min-width: 200px;
  padding: 20px;
  margin: 15px;
  font-size: 14px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;

  &__primary {
    &--default {
      background-color: $rx-color-blue;
    }

    &--light {
      background-color: $rx-color-blue-4;
    }

    &--dark {
      background-color: $rx-color-blue-8;
    }
  }

  &__secondary {
    &--default {
      background-color: $rx-color-dark-green;
    }

    &--light {
      background-color: $rx-color-light-green;
    }

    &--blue {
      background-color: $rx-color-dark-blue;
    }

    &--dark-blue {
      background-color: $rx-color-black-blue;
    }
  }

  &__functional {
    &--danger {
      background-color: $rx-danger;
    }

    &--warning {
      background-color: $rx-warning;
    }

    &--success {
      background-color: $rx-success;
    }

    &--info {
      background-color: $rx-info;
    }
  }

  &__brand {
    &--blue {
      background-color: $rx-secondary;
    }

    &--yellow {
      background-color: $rx-color-yellow;
    }

    &--green {
      background-color: $rx-color-green;
    }

    &--pink {
      background-color: $rx-color-pink;
    }
  }

  &__neutral {
    &--black {
      background-color: $rx-color-black;
    }

    &--dark-gray {
      background-color: $rx-color-gray-8;
    }

    &--middle-gray {
      background-color: $rx-color-gray;
    }

    &--light-gray {
      color: $rx-color-black;
      background-color: $rx-color-gray-4;
    }

    &--white {
      color: $rx-color-black;
      background-color: $rx-color-white;
      border: 1px solid $rx-color-gray;
    }
  }
}
