/**
 * Reset.scss
 **/
@import './variables';

body {
  font-family: Monaco, Menlo, 'Courier New', monospace;
  font-size: $rx-font-size-base;
  color: $rx-color-black;

  --webkit-font-smoothing: antialiased;
}
