/**
 * variables
 */

/**
 * Colors
 */

// base color
// red
$rx-color-red-1: #fff0e6 !default;
$rx-color-red-2: #fff0e6 !default;
$rx-color-red-3: #ffa97a !default;
$rx-color-red-4: #ff8952 !default;
$rx-color-red-5: #fc6428 !default;
$rx-color-red-6: #f03c00 !default;
$rx-color-red-7: #c92c00 !default;
$rx-color-red-8: #a31e00 !default;
$rx-color-red-9: #7d1300 !default;
$rx-color-red-10: #7d1300 !default;

// yellow
$rx-color-yellow-1: #fff7e6 !default;
$rx-color-yellow-2: #ffe0a3 !default;
$rx-color-yellow-3: #ffce7a !default;
$rx-color-yellow-4: #ffba52 !default;
$rx-color-yellow-5: #ffba52 !default;
$rx-color-yellow-6: #ff8600 !default;
$rx-color-yellow-7: #d96c00 !default;
$rx-color-yellow-8: #d96c00 !default;
$rx-color-yellow-9: #8c3d00 !default;
$rx-color-yellow-10: #662900 !default;

// green
$rx-color-green-1: #e6ffeb !default;
$rx-color-green-2: #9df5b3 !default;
$rx-color-green-3: #9df5b3 !default;
$rx-color-green-4: #46db75 !default;
$rx-color-green-5: #21cf5e !default;
$rx-color-green-6: #00c249 !default;
$rx-color-green-7: #00c249 !default;
$rx-color-green-8: #007535 !default;
$rx-color-green-9: #004f26 !default;
$rx-color-green-10: #002915 !default;

// cyan
$rx-color-cyan-1: #edfffd !default;
$rx-color-cyan-2: #c4fff9 !default;
$rx-color-cyan-3: #9afcf6 !default;
$rx-color-cyan-4: #6cf0eb !default;
$rx-color-cyan-5: #42e3e3 !default;
$rx-color-cyan-6: #1dd1d7 !default;
$rx-color-cyan-7: #0ea5b0 !default;
$rx-color-cyan-8: #047c8a !default;
$rx-color-cyan-9: #005663 !default;
$rx-color-cyan-10: #00333d !default;
// blue
$rx-color-blue-1: #e6f8ff !default;
$rx-color-blue-2: #a8e5ff !default;
$rx-color-blue-3: #7ccef7 !default;
$rx-color-blue-4: #50b2eb !default;
$rx-color-blue-5: #2895d1 !default;
$rx-color-blue-6: #0479d2 !default;
$rx-color-blue-7: #005bab !default;
$rx-color-blue-8: #004285 !default;
$rx-color-blue-9: #002c5e !default;
$rx-color-blue-10: #001838 !default;

$rx-color-light-blue: #0692fc !default;
$rx-color-middle-blue: #0479d2 !default;
$rx-color-dark-blue: #3b3697 !default;
$rx-color-black-blue: #181773 !default;
// purple
$rx-color-purple-1: #f2dae6 !default;
$rx-color-purple-2: #e695c0 !default;
$rx-color-purple-3: #d96aa9 !default;
$rx-color-purple-4: #cc4395 !default;
$rx-color-purple-5: #bf2185 !default;
$rx-color-purple-6: #b30177 !default;
$rx-color-purple-7: #8c0062 !default;
$rx-color-purple-8: #66004b !default;
$rx-color-purple-9: #400031 !default;
$rx-color-purple-10: #1a0014 !default;

// neutral color
$rx-color-gray-0: #fff !default;
$rx-color-gray-1: #fafafa !default;
$rx-color-gray-2: #f5f5f5 !default;
$rx-color-gray-3: #f0f0f0 !default;
$rx-color-gray-4: #d9d9d9 !default;
$rx-color-gray-5: #bfbfbf !default;
$rx-color-gray-6: #8c8c8c !default;
$rx-color-gray-7: #828282 !default;
$rx-color-gray-8: #5c5c5c !default;
$rx-color-gray-9: #595959 !default;
$rx-color-gray-10: #262626 !default;
$rx-color-gray-11: #1f1f1f !default;
$rx-color-gray-12: #141414 !default;
$rx-color-gray-13: #000 !default;

$rx-color-red: $rx-color-red-6 !default;
$rx-color-yellow: $rx-color-yellow-6 !default;
$rx-color-orange: $rx-color-yellow-8 !default;
$rx-color-green: $rx-color-green-6 !default;
$rx-color-cyan: $rx-color-cyan-6 !default;
$rx-color-blue: $rx-color-blue-6 !default;
$rx-color-purple: $rx-color-purple-6 !default;
$rx-color-pink: $rx-color-purple-3 !default;
$rx-color-white: $rx-color-gray-0 !default;
$rx-color-gray: $rx-color-gray-6 !default;
$rx-color-black: $rx-color-gray-13 !default;
$rx-color-teal: #16a9a1 !default;

// system color
$rx-primary: $rx-color-blue-6 !default;
$rx-secondary: $rx-color-blue-4 !default;
$rx-success: $rx-color-green-6 !default;
$rx-info: $rx-color-cyan-6 !default;
$rx-warning: $rx-color-yellow-6 !default;
$rx-danger: $rx-color-red-6 !default;
$rx-link: $rx-color-blue-6 !default;
$rx-light: $rx-color-gray-1 !default;
$rx-gray: $rx-color-gray-6 !default;
$rx-white: $rx-color-white !default;
$rx-black: $rx-color-black !default;

// primary gradient
$rx-primary-light-10: mix($rx-color-white, $rx-primary, 10%) !default;
$rx-primary-light-20: mix($rx-color-white, $rx-primary, 20%) !default;
$rx-primary-light-30: mix($rx-color-white, $rx-primary, 30%) !default;
$rx-primary-light-40: mix($rx-color-white, $rx-primary, 40%) !default;
$rx-primary-light-50: mix($rx-color-white, $rx-primary, 50%) !default;
$rx-primary-light-60: mix($rx-color-white, $rx-primary, 60%) !default;
$rx-primary-light-70: mix($rx-color-white, $rx-primary, 70%) !default;
$rx-primary-light-80: mix($rx-color-white, $rx-primary, 80%) !default;
$rx-primary-light-90: mix($rx-color-white, $rx-primary, 90%) !default;

// success gradient
$rx-success-light: $rx-color-green-4 !default;
$rx-success-lighter: $rx-color-green-2 !default;

// info gradient
$rx-info-light: $rx-color-cyan-4 !default;
$rx-info-lighter: $rx-color-cyan-2 !default;

// warning gradient
$rx-warning-light: $rx-color-yellow-4 !default;
$rx-warning-lighter: $rx-color-yellow-2 !default;

// danger gradient
$rx-danger-light: $rx-color-red-4 !default;
$rx-danger-lighter: $rx-color-red-2 !default;

$rx-colors: (primary, success, warning, danger, info, light, dark);

$rx-theme-colors: (
  'primary': $rx-primary,
  'secondary': $rx-secondary,
  'success': $rx-success,
  'info': $rx-info,
  'warning': $rx-warning,
  'danger': $rx-danger,
  'light': $rx-light,
  'dark': $rx-gray,
);

/**
 * Text
 */

// text color
$rx-text-color-base: $rx-color-black !default;
$rx-text-color-primary: $rx-color-black !default;
$rx-text-color-secondary: $rx-color-gray-11 !default;
$rx-text-color-regular: $rx-color-gray-8 !default;
$rx-text-color-placeholder: $rx-color-gray !default;

/**
 * Border
 */
// border color
$rx-border-color-base: $rx-color-gray !default;
$rx-border-color-light: $rx-color-gray-5 !default;
$rx-border-color-lighter: $rx-color-gray-3 !default;
$rx-border-color-extra-light: $rx-color-gray-1 !default;

$rx-border-width-base: 1px !default;
$rx-border-style-base: solid !default;
$rx-border-color-hover: $rx-text-color-primary !default;
$rx-border-base: $rx-border-width-base $rx-border-style-base $rx-border-color-base !default;

// border radius
$rx-border-radius-base: 4px !default;
$rx-border-radius-small: 2px !default;
$rx-border-radius-circle: 100% !default;
$rx-border-radius-zero: 0 !default;

/**
 * Background
 */
// background color
$rx-background-color-base: $rx-color-gray-4;
$rx-background-color-dark: $rx-color-black !default;
$rx-background-color-light: $rx-color-white !default;

/**
 * Typography
 */
$rx-font-size-extra-small: 12px !default;
$rx-font-size-small: 13px !default;
$rx-font-size-base: 14px !default;
$rx-font-size-medium: 16px !default;
$rx-font-size-large: 18px !default;
$rx-font-size-extra-large: 20px !default;

$rx-font-weight-primary: 500 !default;
$rx-font-weight-secondary: 100 !default;

$rx-font-color-disabled-base: $rx-color-gray-4 !default;

/**
 * Disabled base
 */
$rx-disabled-fill-base: $rx-background-color-base !default;
$rx-disabled-color-base: $rx-text-color-placeholder !default;
$rx-disabled-border-base: $rx-border-color-light !default;

/**
 * Line height
 */
// line height
$rx-font-line-height-primary: 1.5 !default;
$rx-font-line-height-secondary: 1.3 !default;

/**
 * Box shadow
 */
// box shadow
$rx-box-shadow-base: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04) !default;
// $rx-box-shadow-base: 0 1px 3px rgba(0, 0, 0, 0.08) !default;
$rx-box-shadow-dark: 0 2px 4px rgba(0, 0, 0, 0.12), 0, 0, 6px rgba(0, 0, 0, 0.12) !default;
$rx-box-shadow-light: 0 2px 12px rgba(0, 0, 0, 0.1) !default;

/**
 * Spacing
 */
// spacing
$rx-spacing-extra-small: 1.2rem !default;
$rx-spacing-small: 1.6 !default;
$rx-spacing-medium: 2rem !default;
$rx-spacing-large: 2.4rem !default;
$rx-spacing-extra-large: 3.2rem !default;
$rx-spacing-base: 2.4rem !default;
$rx-spacing-clear: 0 !default;

/**
 * Button
 */
$rx-button-font-size: $rx-font-size-base !default;
$rx-button-font-weight: $rx-font-weight-primary !default;
$rx-button-border-radius: $rx-border-radius-base !default;
$rx-button-padding-vertical: 10px !default;
$rx-button-padding-horizontal: 10px !default;
$rx-button-box-shadow: $rx-box-shadow-base !default;

// large size
$rx-button-large-font-size: $rx-font-size-base !default;
$rx-button-large-border-radius: $rx-border-radius-base !default;
$rx-button-large-padding-vertical: 18px !default;
$rx-button-large-padding-horizontal: 36px !default;
// medium size
$rx-button-medium-font-size: $rx-font-size-base !default;
$rx-button-medium-border-radius: $rx-border-radius-base !default;
$rx-button-medium-padding-vertical: 14px !default;
$rx-button-medium-padding-horizontal: 24px !default;

// small size
$rx-button-small-font-size: 12px !default;
$rx-button-small-border-radius: #{$rx-border-radius-base - 1} !default;
$rx-button-small-padding-vertical: 9px !default;
$rx-button-small-padding-horizontal: 18px !default;

// extra small size
$rx-button-extra-small-font-size: 12px !default;
$rx-button-extra-small-border-radius: #{$rx-border-radius-base - 1} !default;
$rx-button-extra-small-padding-vertical: 7px !default;
$rx-button-extra-small-padding-horizontal: 14px !default;

// default
$rx-button-default-font-color: $rx-text-color-regular !default;
$rx-button-default-background-color: $rx-background-color-light !default;
$rx-button-default-border-color: $rx-border-color-base !default;

$rx-button-disabled-font-color: $rx-text-color-placeholder !default;
$rx-button-disabled-background-color: $rx-color-white !default;
$rx-button-disabled-border-color: $rx-border-color-lighter !default;

$rx-button-primary-border-color: $rx-primary !default;
$rx-button-primary-font-color: $rx-color-white !default;
$rx-button-primary-background-color: $rx-primary !default;

$rx-button-success-border-color: $rx-success !default;
$rx-button-success-font-color: $rx-color-white !default;
$rx-button-success-background-color: $rx-success !default;

$rx-button-warning-border-color: $rx-warning !default;
$rx-button-warning-font-color: $rx-color-white !default;
$rx-button-warning-background-color: $rx-warning !default;

$rx-button-danger-border-color: $rx-danger !default;
$rx-button-danger-font-color: $rx-color-white !default;
$rx-button-danger-background-color: $rx-danger !default;

$rx-button-info-border-color: $rx-info !default;
$rx-button-info-font-color: $rx-color-white !default;
$rx-button-info-background-color: $rx-info !default;

$rx-button-hover-background-color: $rx-background-color-base !default;
$rx-button-hover-tint-percent: 25% !default;
$rx-button-active-shade-percent: 10% !default;

/**
 * Radio
 */
$rx-radio-font-size: $rx-font-size-base !default;
$rx-radio-font-weight: $rx-font-weight-primary !default;
$rx-radio-font-color: $rx-text-color-regular !default;
$rx-radio-input-height: 16px !default;
$rx-radio-input-width: 16px !default;

$rx-radio-input-border-radius: $rx-border-radius-circle !default;
$rx-radio-input-background-color: $rx-white !default;
$rx-radio-input-border: $rx-border-base !default;
$rx-radio-input-border-color: $rx-border-color-base !default;
$rx-radio-icon-color: $rx-white !default;

$rx-radio-disabled-input-border-color: $rx-disabled-border-base !default;
$rx-radio-disabled-input-fill: $rx-disabled-fill-base !default;
$rx-radio-disabled-icon-color: $rx-disabled-fill-base !default;

$rx-radio-disabled-checked-input-border-color: $rx-disabled-border-base !default;
$rx-radio-disabled-checked-input-fill: $rx-disabled-fill-base !default;
$rx-radio-disabled-checked-icon-color: $rx-text-color-placeholder !default;

$rx-radio-checked-font-color: $rx-primary !default;
$rx-radio-checked-input-border-color: $rx-primary !default;
$rx-radio-checked-input-background-color: $rx-white !default;
$rx-radio-checked-icon-color: $rx-primary !default;

$rx-radio-input-border-color-hover: $rx-primary !default;

$rx-radio-bordered-height: 40px !default;
$rx-radio-bordered-padding: 12px 20px 0 10px !default;
$rx-radio-bordered-medium-padding: 10px 20px 0 10px !default;
$rx-radio-bordered-small-padding: 8px 15px 0 10px !default;
$rx-radio-bordered-mini-padding: 6px 15px 0 10px !default;
$rx-radio-bordered-medium-input-height: 14px !default;
$rx-radio-bordered-medium-input-width: 14px !default;
$rx-radio-bordered-medium-height: 36px !default;
$rx-radio-bordered-small-input-height: 12px !default;
$rx-radio-bordered-small-input-width: 12px !default;
$rx-radio-bordered-small-height: 32px !default;
$rx-radio-bordered-mini-input-height: 12px !default;
$rx-radio-bordered-mini-input-width: 12px !default;
$rx-radio-bordered-mini-height: 28px !default;

$rx-radio-button-font-size: $rx-font-size-base !default;
$rx-radio-button-checked-background-color: $rx-primary !default;
$rx-radio-button-checked-font-color: $rx-white !default;
$rx-radio-button-checked-border-color: $rx-primary !default;
$rx-radio-button-disabled-checked-fill: $rx-border-color-extra-light !default;

/**
 * Checkbox
 */
$rx-checkbox-font-size: $rx-font-size-base !default;
$rx-checkbox-font-weight: $rx-font-weight-primary !default;
$rx-checkbox-font-color: $rx-text-color-regular !default;
$rx-checkbox-input-height: 16px !default;
$rx-checkbox-input-width: 16px !default;

$rx-checkbox-input-border-radius: $rx-border-radius-small !default;
$rx-checkbox-input-background-color: $rx-white !default;
$rx-checkbox-input-border: $rx-border-base !default;
$rx-checkbox-input-border-color: $rx-border-color-base !default;
$rx-checkbox-icon-color: $rx-white !default;

$rx-checkbox-disabled-input-border-color: $rx-disabled-border-base !default;
$rx-checkbox-disabled-input-fill: $rx-disabled-fill-base !default;
$rx-checkbox-disabled-icon-color: $rx-disabled-fill-base !default;

$rx-checkbox-disabled-checked-input-border-color: $rx-disabled-border-base !default;
$rx-checkbox-disabled-checked-input-fill: $rx-disabled-fill-base !default;
$rx-checkbox-disabled-checked-icon-color: $rx-text-color-placeholder !default;

$rx-checkbox-checked-font-color: $rx-primary !default;
$rx-checkbox-checked-input-border-color: $rx-primary !default;
$rx-checkbox-checked-input-background-color: $rx-white !default;
$rx-checkbox-checked-icon-color: $rx-primary !default;

$rx-checkbox-input-border-color-hover: $rx-primary !default;

$rx-checkbox-bordered-height: 40px !default;
$rx-checkbox-bordered-padding: 12px 20px 0 10px !default;
$rx-checkbox-bordered-medium-padding: 10px 20px 0 10px !default;
$rx-checkbox-bordered-small-padding: 8px 15px 0 10px !default;
$rx-checkbox-bordered-mini-padding: 6px 15px 0 10px !default;
$rx-checkbox-bordered-medium-input-height: 14px !default;
$rx-checkbox-bordered-medium-input-width: 14px !default;
$rx-checkbox-bordered-medium-height: 36px !default;
$rx-checkbox-bordered-small-input-height: 12px !default;
$rx-checkbox-bordered-small-input-width: 12px !default;
$rx-checkbox-bordered-small-height: 32px !default;
$rx-checkbox-bordered-mini-input-height: 12px !default;
$rx-checkbox-bordered-mini-input-width: 12px !default;
$rx-checkbox-bordered-mini-height: 28px !default;

$rx-checkbox-button-font-size: $rx-font-size-base !default;
$rx-checkbox-button-checked-background-color: $rx-primary !default;
$rx-checkbox-button-checked-font-color: $rx-white !default;
$rx-checkbox-button-checked-border-color: $rx-primary !default;
$rx-checkbox-button-disabled-checked-fill: $rx-border-color-extra-light !default;

/**
 * Input
 */
$rx-input-font-size: $rx-font-size-base !default;
$rx-input-font-color: $rx-text-color-regular !default;
$rx-input-width: 140px !default;
$rx-input-height: 36px !default;
$rx-input-max-width: 315px !default;
$rx-input-padding: 10px 14px;

$rx-input-border: $rx-border-base !default;
$rx-input-border-color: $rx-border-color-base !default;
$rx-input-border-radius: $rx-border-radius-base !default;
$rx-input-border-color-hover: $rx-border-color-hover !default;

$rx-input-background-color: $rx-white !default;
$rx-input-fill-disabled: $rx-disabled-fill-base !default;
$rx-input-color-disabled: $rx-font-color-disabled-base !default;
$rx-input-icon-color: $rx-text-color-placeholder !default;
$rx-input-placeholder-color: $rx-text-color-placeholder !default;

$rx-input-hover-border: $rx-border-color-hover !default;
$rx-input-clear-hover-color: $rx-text-color-secondary !default;
$rx-input-focus-border: $rx-primary !default;
$rx-input-focus-fill: $rx-white !default;

$rx-input-disabled-fill: $rx-disabled-fill-base !default;
$rx-input-disabled-border: $rx-disabled-border-base !default;
$rx-input-disabled-color: $rx-disabled-color-base !default;
$rx-input-disabled-placeholder-color: $rx-text-color-placeholder !default;

$rx-input-large-font-size: 16px !default;
$rx-input-large-height: 46px !default;
$rx-input-large-padding: 10px 14px;
$rx-input-medium-font-size: 14px !default;
$rx-input-medium-height: 38px !default;
$rx-input-medium-padding: 6px 12px;
$rx-input-small-font-size: 13px !default;
$rx-input-small-height: 26px !default;
$rx-input-small-padding: 2px 9px;
$rx-input-extra-small-font-size: 12px !default;
$rx-input-extra-small-height: 22px !default;
$rx-input-extra-small-padding: 0 7px;

/**
 * Dropdown
 */
$rx-dropdown-menu-box-shadow: $rx-box-shadow-light !default;
$rx-dropdown-menu-item-hover-fill: $rx-primary-light-90 !default;
$rx-dropdown-menu-item-hover-color: $rx-white !default;
$rx-dropdown-menu-item-hover-background-color: $rx-color-blue !default;

/**
 * Tag
 */
$rx-tag-primary-color: $rx-primary !default;
$rx-tag-success-color: $rx-success !default;
$rx-tag-warning-color: $rx-warning !default;
$rx-tag-danger-color: $rx-danger !default;
$rx-tag-info-color: $rx-info !default;
$rx-tag-font-size: 12px !default;
$rx-tag-border-radius: 4px !default;
$rx-tag-padding: 1px 8px !default;

/**
 * Select
 */
$rx-select-border: $rx-border-base;
$rx-select-border-radius: $rx-border-radius-base;
$rx-select-border-color-hover: $rx-border-color-hover !default;
$rx-select-disabled-border: $rx-disabled-border-base !default;

$rx-select-font-size: $rx-font-size-base !default;
$rx-select-close-hover-color: $rx-text-color-secondary !default;

$rx-select-input-color: $rx-text-color-placeholder !default;
$rx-select-multiple-input-color: $rx-text-color-secondary !default;
$rx-select-input-focus-border-color: $rx-color-black !default;
$rx-select-input-font-size: 14px !default;
$rx-select-input-placeholder-color: $rx-text-color-placeholder;

$rx-select-option-color: $rx-text-color-regular !default;
$rx-select-option-disabled-color: $rx-text-color-placeholder !default;
$rx-select-option-disabled-background: $rx-color-white !default;

$rx-select-option-height: 34px !default;
$rx-select-option-hover-background: $rx-background-color-base !default;
$rx-select-option-selected-font-color: $rx-primary !default;
$rx-select-option-selected-hover: $rx-background-color-base !default;

$rx-select-group-color: $rx-info !default;
$rx-select-group-height: 30px !default;
$rx-select-group-font-size: 12px !default;

$rx-select-dropdown-background: $rx-color-white !default;
$rx-select-dropdown-box-shadow: $rx-box-shadow-light !default;
$rx-select-dropdown-empty-color: $rx-color-gray !default;

$rx-select-dropdown-padding: 6px 0 !default;
$rx-select-dropdown-empty-padding: 10px 0 !default;
$rx-select-dropdown-border: 1px solid $rx-border-color-light !default;
